
{% load static %}

{% block content %}
<div class="container">
    <h1>WELCOME TO PWANI HOSPITAL</h1>
       <p>Your health is our priority</p>
        <p>Navigate through our website to learn more about our services and how we can help you.</p>
</div>
{% endblock %}
<footer>
  <p>&copy; {{ footer.company_name }} - {{ footer.copyright_text }}</p>
 <p>Contact us: <a href="mailto:pwanihospital001@gmail.com">{{ footer.email }}</a> | {{ footer.phone  }} </p>

  <div>
    <a href="{{ footer.facebook_link }}">Facebook</a> |
    <a href="{{ footer.twitter_link }}">Twitter</a> |
    <a href="{{ footer.linkedin_link }}">LinkedIn</a>
  </div>
</footer>

