{% extends "pwani_hospital/base.html" %}
{% load static %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}